html, body {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url("image/back.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/* Header Styles */
header {
    width: 100%;
    height: 125px;
}
.header-text {
    width: 70%;
    height: inherit;
    margin-left: 7%;
    display: inline-block;
}
.header-text p {
    margin: 0px;
    font-family: Tahoma;
    font-size: 34px;
    color: #2d509b;
    padding-top: 20px;
    text-align: left;
}
#parallelogram {
    float: right;
    margin-right: 50px;
    display: inline-block;
    width: 20px;
    height: 70px;
    background: #d0681c;
    -webkit-transform: skew(130deg);
    -moz-transform: skew(130deg);
    -o-transform: skew(130deg);
    transform: skew(130deg);
}
/* End Header Styles */
/* Article Styles */
article {
    width: 100%;
    height: 500px;
}
#all-line {
    width: 100%;
    height: 90px;
    position: relative;
}
.top-line {
    width: 92%;
    height: 65px;
    float: left;
}
.inverted-line {
    position: absolute;
    float: left;
    display: inline-block;
    width: 25px;
    height: 71px;
    background: #d0681c;
    -webkit-transform: skew(120deg);
    -moz-transform: skew(120deg);
    -o-transform: skew(120deg);
    transform: skew(120deg);
    z-index: 999;
}
.straight-line {
    position: absolute;
    float: left;
    width: 87%;
    margin-left: 60px;
    height: 14px;
    background-color: #d0681c;
    display: inline-block;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
}
.inverted-min-line {
    position: absolute;
    float: left;
    display: inline-block;
    width: 15px;
    height: 80px;
    background: #d0681c;
    left: 0;
    top: 21px;
    -webkit-transform: skew(120deg);
    -moz-transform: skew(120deg);
    -o-transform: skew(120deg);
    transform: skew(120deg);
    z-index: 999;
}
#circle-div {
    width: 100%;
    height: 500px;
    z-index: 10;
    position: relative;
    margin-top: -75px;
}
.circle {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
}
#circle-patient {
    width: 350px;
    height: 350px;
    background-color: #f2d5b7;
    margin: 30px 20%;
}
#count-patient {
    top: 50%;
    left: 65%;
    font-size: 45px;
}
.circle-text {
    font-family: sans-serif;
    color: #FFFFFF;
    position: absolute;
}
#kras {
    width: 250px;
    height: 250px;
    background-color: #dd7628;
    left: 2%;
    top: 7%;
    position: absolute;
    z-index: 100;
}
#count-kras {
    top: 20%;
    left: 40%;
    font-size: 45px;
}
#nras {
    width: 150px;
    height: 150px;
    background-color: #deb682;
    position: absolute;
    left: 54%;
    top: 15%;
    z-index: 200;
}
#count-nras {
    top: 25%;
    left: 48%;
    font-size: 25px;
}
#slider {
    width: 100%;
    height: 300px;
}
.range-slider {
    width: 84%;
    height: 80px;
    margin-bottom: 40px;
    margin-left: 6.5%;
    position: relative;
}
.div-for-count {
    width: 10%;
    height: inherit;
    font-size: 25px;
    display: inline-block;
    color: #d0691c;
}
.range {
    width: 35%;
    height: 30px;
    background-color: #d4dced;
    display: inline-block;
    margin-top: 10px;
    position: relative;
}
.overflow {
    overflow: hidden;
    position: relative;
}
.triangle, .slider {
    display: inline;
}
.triangle-left {
    border: 30px solid transparent;
    border-left: 0px solid #d0691c;
    border-top: 30px solid #d0691c;
    position: absolute;
    width: 0;
    height: 0;
}
.triangle-right {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 30px solid #919cce;
    border-bottom: 0px solid transparent;
    float: right;
}
.slider {
    border-bottom: 50px solid #d0691c;
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 5%;
    left: 271px;
    position: absolute;
    transform: rotateX(180deg);
    top: -10px;
}
#slider-triangle-patient {
    left: 75%;
}
.number-range {
    display: inline-block;
    position: absolute;
    color: #d0691c;
    font-size: 30px;
    top: -45px;
}
#num-most-range {
    left: 77%;
}
#slider-triangle-kras {
    left: 45%;
}
#num-middle-range {
    left: 47%;
}
#slider-triangle-nras {
    left: 10%;
}
#num-small-range {
    left: 12%;
}
.highlight-color {
    background-color: #dd7628;
    width: 0%;
    height: 30px;
    left:3.5%;
    -webkit-transform: skew(135deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    -ms-transform: skew(135deg);
    position: absolute;
}
#highlight-color-middle {
    width: 59%;
}
#highlight-color-bottom {
    background-color: #f2d5b7;
    width:25%;
}
#highlight-color-top {
    width: 93%;
    background-color: #f2d5b7;
}
/* End Article Styles */
/* Media Query */
@media (max-width: 1200px) {
    .header-text p {
        font-size: 30px;
    }
}
@media (max-width: 1024px) {
    .header-text p {
        font-size: 25px;
    }
    .straight-line {
        width: 75%;
    }
}
@media (max-width: 768px) {
    .header-text p {
        font-size: 20px;
    }
    #circle-patient {
        margin-left: 10%;
    }
    .div-for-count {
        position: absolute;
        top: -85px;
    }
    .range-slider {
        margin-bottom: 80px;
    }
    .range {
        width: 80%;
    }
    .highlight-color {
        left: 2.5%;
    }
}
@media (max-width: 480px) {
    .header-text p {
        font-size: 15px;
    }
    #circle-patient {
        width: 250px;
        height: 250px;
    }
    #kras {
        width: 150px;
        height: 150px;
    }
    #nras {
        width: 75px;
        height: 75px;
        left: 64%;
    }
}
/* End Media Query */